<div
  class="bg-gray-50 p-5 rounded-md shadow-lg font-spartan text-offblack w-full md:w-fit absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
  <img src="assets/img/faepoint_header.png" class="max-w-3xs mx-auto mb-7" />
  <h1 class="text-4xl font-bold text-center mb-5">Let's Conjure Something Amazing.</h1>
  <section class="max-w-3xl">
    <p>
      For business inquiries, questions about pricing or contracting, or to reach out about one of our products, please send an email to
      <a fp href="mailto:business@faepoint.com">business@faepoint.com.</a>
    </p>
    <p>We appreciate your patience, as responses may take up to 24 hours.</p>
  </section>
</div>

<div class="block h-dvh"></div>
