<div
  class="bg-gray-50 p-5 rounded-md shadow-lg font-spartan text-offblack w-full md:w-fit absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
  <img src="assets/img/faepoint_header.png" class="max-w-3xs mx-auto mb-4" alt="The Faepoint logo featuring a pointed Elf ear." />
  <h1 class="text-4xl font-bold text-center mb-5">Let's Conjure Something Amazing.</h1>
  <hr />
  <section class="max-w-3xl">
    <p class="my-5">
      For business inquiries, legal matters, product support, or to inquire about custom web projects, please send us an email using the address
      below. We appreciate your patience, as response times may take up to 3 business days.
    </p>
    <p class="text-center p-5 rounded-md border-3 w-fit mx-auto"><a fp href="mailto:business@faepoint.com">business@faepoint.com.</a></p>
  </section>
</div>

<div class="block h-dvh"></div>
