<div class="block min-h-screen">
  <div class="mt-10 bg-gray-50 p-5 rounded-md shadow-lg font-spartan text-offblack w-full lg:w-fit mx-auto">
    <img src="assets/img/faepoint_header.png" class="max-w-3xs mx-auto mb-7" alt="The Faepoint logo featuring a pointed Elf ear." />
    <h1 class="text-4xl font-bold text-center mb-5">Products</h1>
    <section class="max-w-3xl">
      <p>Products and services built and maintained by Faepoint. Click the tiles below to check them out!</p>
    </section>
  </div>

  <div class="my-10 lg:my-20 max-w-6xl mx-auto">
    <h1 class="text-3xl lg:text-5xl my-5 font-stifly text-offblack bg-gray-50 lg:bg-transparent text-center lg:w-fit rounded-md p-5">Applications</h1>

    <div class="w-fit mx-auto">
      <div class="block lg:inline-block">
        <fp-hanger
          [classes]="
            'bg-gray-50 max-w-sm mx-3 mb-3 transition-all hover:-translate-y-0.5 hover:cursor-pointer hover:brightness-110 active:translate-y-1 active:brightness-75'
          "
          (click)="openLink('https://leaflet.page')">
          <h1 class="font-stifly text-3xl mt-6 text-center">Leaflet</h1>
          <img
            src="assets/img/template_thumbnails/leaflet.png"
            class="mt-5 w-full max-w-80 rounded-md mx-auto"
            alt="A thumbnail of a note organization website" />
          <div class="bg-gray-50 shadow-sm mt-5 p-5 rounded-md text-left">
            <p class="font-spartan">
              A powerful, modern web application for tabletop gamers, writers, and creatives to catalog their notes and ideas.
            </p>
          </div>
        </fp-hanger>
      </div>
    </div>
  </div>
</div>
