<nav class="flex md:px-5 p-1 bg-gray-50 shadow-sm">
  <a [routerLink]="['/']">
    <img
      src="assets/img/faepoint_header.png"
      class="inline-block self-center mr-2 max-w-40 md:max-w-48"
      alt="A silhouette of an elf ear with the word Faepoint." />
  </a>
  <div class="flex-auto"></div>
  <div class="self-center relative">
    <button
      role="navigation"
      class="p-2 hover:cursor-pointer hover:text-green hover:underline active:outline active:outline-dashed active:outline-green"
      (click)="siteMenu.showMenu()">
      <div class="flex">
        <i class="self-center h-6 w-6 text-2xl mr-2 fa-solid fa-bars"></i>
        <h1 class="self-center text-xl font-spartan font-bold">Menu</h1>
      </div>
    </button>
    <fp-pop-menu #siteMenu [closeOnClick]="true">
      <ul class="font-spartan font-bold text-green text-xl">
        <li
          class="px-3 py-2 hover:underline hover:cursor-pointer active:outline active:outline-dashed active:outline-green"
          [routerLink]="['/']"
          role="menuitem">
          Home
        </li>
        <li
          class="px-3 py-2 hover:underline hover:cursor-pointer active:outline active:outline-dashed active:outline-green"
          [routerLink]="['/portfolio']"
          role="menuitem">
          Portfolio
        </li>
        <li
          class="px-3 py-2 hover:underline hover:cursor-pointer active:outline active:outline-dashed active:outline-green"
          [routerLink]="['/products']"
          role="menuitem">
          Products
        </li>
        <li
          class="px-3 py-2 hover:underline hover:cursor-pointer active:outline active:outline-dashed active:outline-green"
          [routerLink]="['/contact']"
          role="menuitem">
          Contact
        </li>
      </ul>
    </fp-pop-menu>
  </div>
</nav>

<router-outlet></router-outlet>

<fp-footer classes="bg-purple text-timberwolf"></fp-footer>
