<div class="block min-h-screen">
  <header class="text-center">
    <div>
      <img src="assets/img/faepoint_logo_tp.png" class="max-w-[12rem] md:max-w-3xs mx-auto" alt="The silhouette of a pointed Elf ear" />
      <h1 class="text-3xl md:text-4xl font-thin text-offblack">
        We do
        <span class="bg-black/10 p-0.5">
          {{ typedHeader | async }}
          <span class="animate-ping pr-0.5" [ariaHidden]="true">|</span>
        </span>
      </h1>
      <h2 class="text-xl md:text-2xl font-thin text-offblack mt-3">Web technologies company from Colorado</h2>
    </div>
  </header>

  <section class="mt-10 mb-5">
    <div class="w-full overflow-hidden leading-none">
      <svg class="block w-full fill-purple" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 60" preserveAspectRatio="none">
        <path d="M0,60 Q300,0 600,30 T1200,18 L1200,60 L0,60 Z" />
      </svg>
    </div>

    <div class="bg-purple text-timberwolf px-2 py-5">
      <div class="md:max-w-xl 2xl:max-w-3xl md:mx-auto">
        <div class="flex">
          <h1 class="flex-1/3 text-right text-3xl md:text-5xl font-thin font-bold border-r-4 pr-5 mr-5 border-timberwolf">
            Like.
            <br />
            Magic.
          </h1>

          <div class="flex-2/3">
            <p class="italic md:text-lg">"Any sufficiently advanced technology is indistinguishable from magic."</p>
            <p class="font-bold text-right mt-2">&ndash; Arthur C. Clarke</p>
          </div>
        </div>
      </div>
    </div>

    <div class="w-full overflow-hidden leading-none">
      <svg
        class="block w-full fill-purple -scale-y-100 -scale-x-100"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 1200 60"
        preserveAspectRatio="none">
        <path d="M0,60 Q300,0 600,30 T1200,18 L1200,60 L0,60 Z"></path>
      </svg>
    </div>
  </section>

  <fp-hero-panel [slantTop]="true" [slantBottom]="true" [wavesBottom]="false" [classes]="'bg-gray-50'">
    <div class="text-center mb-7">
      <h2 class="text-3xl md:text-5xl font-stifly mb-1">Delivering Excellence</h2>
      <p class="font-thin text-xl">Web solutions that work.</p>
    </div>

    <div class="md:max-w-xl xl:max-w-4xl mx-auto font-spartan text-lg text-purple">
      <p class="my-2">
        <strong>Driven by Design</strong>
        &ndash; In a marketplace where cutting corners is commonplace, we're aiming higher than
        <em>just good enough.</em>
        Faepoint Software is your partner for the perfect solution.
      </p>

      <p class="my-2">
        <strong>Resilient</strong>
        &ndash; Backed by years of experience in the software industry with the credentials to back it up.
      </p>

      <p class="my-2">
        <strong>Original</strong>
        &ndash; We're building practical systems that solve real problems &ndash; with a touch of flair.
      </p>

      <p class="my-2">
        <strong>Workable</strong>
        &ndash; Because we know that one size doesn't fit all. Our solutions are adaptable and personalized for your specific needs.
      </p>
    </div>
  </fp-hero-panel>

  <div class="md:max-w-5xl mx-auto my-8">
    <div class="text-center mb-7">
      <h2 class="text-3xl md:text-5xl font-stifly mb-1">Portfolio</h2>
      <p class="font-thin text-xl">Consult our arcane archive.</p>
    </div>

    <p class="font-spartan text-center text-lg">
      Visit our curated collection of projects and templates for a diverse sample of our past efforts, ongoing projects, and design philosophy.
    </p>

    <!-- Horizontal Carousel -->
    <div class="snap-x snap-mandatory overflow-x-auto flex gap-4 mt-5">
      <div class="snap-start shrink-0 max-w-80">
        <fp-hanger
          [classes]="'bg-[#5f96b9] outline-purple hover:cursor-pointer hover:bg-purple active:brightness-75'"
          (click)="openLink('https://leaflet.page')">
          <h1 class="font-stifly text-4xl mt-5 text-center">Leaflet</h1>
          <h2 class="font-spartan font-bold text-center">Web Platform</h2>

          <img
            src="assets/img/template_thumbnails/leaflet.png"
            class="mt-5 w-full max-w-80 rounded-md mx-auto"
            alt="A thumbnail of a note organization website" />
          <div class="backdrop-blur-lg bg-white/25 rounded-xl border border-white/18 text-white p-3 mt-3">
            <p class="font-spartan">Draft notes, link ideas, and track stories with this powerful companion for Tabletop Role Playing Games.</p>
          </div>
        </fp-hanger>
      </div>

      <div class="snap-start shrink-0 max-w-80">
        <fp-hanger
          [classes]="'bg-[#ce4760] outline-purple hover:cursor-pointer hover:bg-purple active:brightness-75'"
          (click)="openLink('https://templates.faepoint.com/cookies')">
          <h1 class="font-stifly text-4xl mt-5 text-center">Cookie Zone</h1>
          <h2 class="font-spartan font-bold text-center">Website Template</h2>

          <img
            src="assets/img/template_thumbnails/cookies.png"
            class="mt-5 w-full max-w-80 rounded-md mx-auto"
            alt="A thumbnail image of a boutique bakery homepage" />
          <div class="backdrop-blur-lg bg-white/25 rounded-xl border border-white/18 text-white p-3 mt-3">
            <p class="font-spartan">A colorful and playful homepage for a boutique cookie shop, complete with details and a call to action.</p>
          </div>
        </fp-hanger>
      </div>

      <div class="snap-start shrink-0 max-w-80">
        <fp-hanger
          [classes]="'bg-[#815355] outline-purple hover:cursor-pointer hover:bg-purple active:brightness-75'"
          (click)="openLink('https://templates.faepoint.com/wedding')">
          <h1 class="font-stifly text-4xl mt-5 text-center">Wedding</h1>
          <h2 class="font-spartan font-bold text-center">Website Template</h2>

          <img
            src="assets/img/template_thumbnails/wedding.png"
            class="mt-5 w-full max-w-80 rounded-md mx-auto"
            alt="A thumbnail image of a couple's wedding announcement webpage" />
          <div class="backdrop-blur-lg bg-white/25 rounded-xl border border-white/18 text-white p-3 mt-3">
            <p class="font-spartan">An elegant page to share details about your wedding or event.</p>
          </div>
        </fp-hanger>
      </div>
    </div>
  </div>
</div>

<!-- Social links -->
<div class="fixed bottom-1 right-1 md:bottom-5 md:right-5">
  <fp-button [type]="'submit'" (onClick)="socialMediaModal.open()"><p>Follow us on social media!</p></fp-button>
</div>

<fp-modal #socialMediaModal>
  <h1 class="font-stifly text-3xl text-center">Connect with us!</h1>
  <p class="text-center">Follow us on these platforms to stay up to date on everything we're up to!</p>

  <div class="m-3 w-fit mx-auto">
    <a
      class="inline-block w-fit text-center p-5 rounded-md cursor-pointer bg-white hover:brightness-90 active:brightness-75 focus:outline-fp-ui-focus-outline focus:outline-2"
      href="https://www.instagram.com/faepoint.software/"
      target="_blank">
      <i class="text-3xl fa-brands fa-instagram"></i>
      <p class="text-sm font-bold">Instagram</p>
    </a>

    <a
      class="inline-block w-fit text-center p-5 rounded-md cursor-pointer bg-white hover:brightness-90 active:brightness-75 focus:outline-fp-ui-focus-outline focus:outline-2"
      href="https://bsky.app/profile/faepoint.com"
      target="_blank">
      <i class="text-3xl fa-brands fa-bluesky"></i>
      <p class="text-sm font-bold">Bluesky</p>
    </a>
  </div>
</fp-modal>
