@import 'tailwindcss';

@font-face {
  font-family: 'Stifly';
  src: url('assets/font/stifly.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-stifly: 'Stifly', 'sans-serif';
  --font-spartan: 'League Spartan', sans-serif;

  --color-black-olive-500: #353d2f;
  --color-timberwolf-100: #e4dfda;
  --color-kelley-green-300: #55ad32;
  --color-pomp-purple-400: #715180;
  --color-thistle-50: #c6b9cd;
}

@theme inline {
  --color-dark-green: var(--color-black-olive-500);
  --color-timberwolf: var(--color-timberwolf-100);
  --color-green: var(--color-kelley-green-300);
  --color-purple: var(--color-pomp-purple-400);
  --color-light-purple: var(--color-thistle-50);
}
