<div class="w-fit mx-auto">
  <fp-hanger
    [classes]="
      'bg-purple max-w-md mx-3 mb-3 transition-all hover:-translate-y-0.5 hover:cursor-pointer hover:brightness-110 active:translate-y-1 active:brightness-75'
    "
    (click)="openLink('https://templates.faepoint.com/cookies')">
    <h1 class="font-stifly text-3xl mt-6 text-center text-timberwolf">Boutique Homepage</h1>
    <img src="assets/img/template_thumbnails/cookies.png" class="mt-5 w-full max-w-96 rounded-md mx-auto" />
    <div class="bg-timberwolf mt-5 p-5 rounded-md">
      <p class="font-spartan">
        A colorful and playful template showcasing a boutique cookie shop. Attract customers with an easy
        <abbr title="Call To Action">CTA</abbr>
        , plus all the easy marketing material available down below.
      </p>
    </div>
  </fp-hanger>

  <fp-hanger
    [classes]="
      'bg-green max-w-md mx-3 mb-3 transition-all hover:-translate-y-0.5 hover:cursor-pointer hover:brightness-110 active:translate-y-1 active:brightness-75'
    "
    (click)="openLink('https://templates.faepoint.com/wedding')">
    <h1 class="font-stifly text-3xl mt-6 text-center text-timberwolf">Wedding Site</h1>
    <img src="assets/img/template_thumbnails/wedding.png" class="mt-5 w-full max-w-96 rounded-md mx-auto" />
    <div class="bg-timberwolf mt-5 p-5 rounded-md">
      <p class="font-spartan">
        An elegant page to share details about an upcoming wedding or event. Your photo greets visitors, while important details are included below.
      </p>
    </div>
  </fp-hanger>
</div>
